/Bin
/Deploy
/Library/**/*-*
/Output
/Projects/**/*-*
/Tools/**/*-*

*.ilk
*.iobj
*.ipdb
*.obj
*.pdb
*.opendb
*.sdf
*.suo
*.db
*.pch
*.tlog
*.props
*moc_*.cpp
*qrc_*.cpp
*.iss.tmp

Build.ini.tmp
.qmake.stash
Makefile
