/Bin
/BinSTD
/Deploy
/Library/**/*-*
/LibrarySTD/**/*-*
/Output
/Projects/**/*-*
/ProjectsSTD/**/*-*
/Tools/**/*-*
/x86_64
/.vs
/ipch

*.ilk
*.iobj
*.ipdb
*.obj
*.pdb
*.opendb
*.sdf
*.suo
*.db
*.pch
*.tlog
*.props
*moc_*.cpp
*qrc_*.cpp
*.iss.tmp
*.spec.tmp
*.pro.user
*.vcxproj.user

Build.ini.tmp
.qmake.stash
Makefile
