/Bin/**/*.exe
/Bin/**/*.dll
/Bin/**/*.exp
/Bin/**/*.ilk
/Bin/**/*.lib
/Bin/**/*.pdb
/Bin/**/*-Linux64/Carat*
/Bin/**/*-Linux64/Configurator
/Bin/**/*-Linux64/DatabaseService
/Bin/**/*-Linux64/Informer
/Bin/**/*-Linux64/IntegralSystem
/Bin/**/*-Linux64/*.ini
/Bin/**/translations
/Bin/**/Temp/*
/Bin/**/Logs/*
/InstallLinux/*/cpp
/Build/*
/Deploy*
/PrecompiledHeaders/*
/Output/*
/.vs/*
/Tools/Bin/**/*.exe
/Tools/Bin/**/*.ilk
/Tools/Bin/**/*.pdb
/Library/**/**/qt.txt
/Objects/**/**/qt.txt
/Licenser/*.exe

vc*.pdb
Makefile

*.pch
*.qch
*.qhc
*.log
*.tlog
*.user
*.moc
qrc_*.cpp
*.res
moc_*.cpp
*.opensdf
*.sdf
*.suo
*.obj
*.cache
*.iss.tmp
*.so
*.so.1
*.so.1.0
*.so.1.0.0
*.pro.autosave
*.monitor
*.o
*.qmake.stash
