[Unit]
Description=Carat
After=network.target postgresql-9.5.service

[Service]
Type=simple
User=root
ExecStart=/opt/IntegralSystem/Carat
ExecStop=/opt/IntegralSystem/Carat --shutdown
Restart=no

[Install]
WantedBy=multi-user.target
