QTableView
{
    selection-background-color: rgb(188, 220, 244);
    selection-color: black;
}

QTableView::item:focus
{
    selection-background-color: rgb(163, 191, 211);
}

QHeaderView::section::horizontal:checked
{
	font-weight: bold;
}

QHeaderView::section::horizontal
{
    background-color: rgb(81, 145, 189);
    color: white;
    padding-left: 4px;
}

QHeaderView::section::horizontal:hover
{
    background-color: rgb(65, 117, 152);
}