#include "winres.h"

#define APSTUDIO_READONLY_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_RUS)
LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT
#pragma code_page(1251)
#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif

IDI_ICON1 ICON "..\..\Resources\Icons\IntegralSystem.ico"

VS_VERSION_INFO VERSIONINFO
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x0L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "CompanyName", "Shestakov Artem"
            VALUE "FileDescription", "Утилита просмотра ошибок системы «IntegralSystem»"
            VALUE "InternalName", "ErrorViewer.exe"
            VALUE "LegalCopyright", "Copyright © 2015-2020"
            VALUE "OriginalFilename", "ErrorViewer"
            VALUE "ProductName", "Утилита просмотра ошибок системы «IntegralSystem»"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END

#endif
#ifndef APSTUDIO_INVOKED
#endif
